h2 {
  font-family: "Open Sans", sans-serif;
  width: 150px;
  margin: auto;
  color: blue;
}

.corner-border,
.bottom-corner {
  position: relative;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* vertical line */
.corner-border::after {
  content: "";
  position: absolute;
  background-color: pink;
  width: 6px;
  height: 70%;
  top: 0;
  right: -15px;
}

/* horizontal line */
.corner-border::before {
  content: "";
  position: absolute;
  background-color: pink;
  width: 20%;
  height: 6px;
  top: 0;
  right: -12px;
}

/* vertical line */
.bottom-corner::after {
  content: "";
  position: absolute;
  background-color: #85c1e9;
  width: 3px;
  height: 50%;
  bottom: 0;
  right: 45px;
}

/* horizontal line */
.bottom-corner::before {
  content: "";
  position: absolute;
  background-color: #85c1e9;
  width: 20%;
  height: 3px;
  bottom: 0;
  right: 45px;
}
